#header {
  display: flex;
  justify-content: space-between;

  header {
  display: flex;
  align-items: center;
  }

  ul {
    display: flex;
    list-style: none;
  }

  a {
    padding: 5px;
    text-decoration: none;
  }
}
